<h3><?php echo $this->escapeHtml( $this->translate( 'Contact data', 'r1c0/contact' ) ); ?></h3>
<address>
	<strong>[NAME]</strong>
	<br>
	<span>[STREET NO]</span>
	<br>
	<span>[ZIPCODE CITY]</span>
</address>
<address>
	<strong>
		<?php echo $this->escapeHtml( $this->translate( 'Contact', 'r1c0/contact' ) ); ?>
	</strong>
	<br>
	<abbr title="<?php echo $this->escapeHtml( $this->translate( 'Fon', 'r1c0/contact' ) ); ?>">
		<span><?php echo $this->escapeHtml( $this->translate( 'Fon', 'r1c0/contact' ) ); ?>:</span>
	</abbr>
	<span>[PHONE]</span>
	<br>
	<abbr title="<?php echo $this->escapeHtml( $this->translate( 'Fax', 'r1c0/contact' ) ); ?>">
		<span><?php echo $this->escapeHtml( $this->translate( 'Fax', 'r1c0/contact' ) ); ?>:</span>
	</abbr>
	<span>[FAX]</span>
	<br>
	<abbr title="<?php echo $this->escapeHtml( $this->translate( 'E-Mail', 'r1c0/contact' ) ); ?>">
		<span><?php echo $this->escapeHtml( $this->translate( 'E-Mail', 'r1c0/contact' ) ); ?>:</span>
	</abbr>
	<a href="mailto:[EMAIL]">[EMAIL]</a>
</address>
