<main>
	<div class="container">
		<h1><?php echo $this->escapeHtml( $this->translate( 'Contact request', 'r1c0/contact' ) ); ?></h1>
		<div class="alert alert-danger">
			<p><?php echo $this->escapeHtml( $this->translate( 'Your message could not be send.', 'r1c0/contact' ) ); ?></p>
		</div>
		<p><?php echo $this->escapeHtml( $this->translate( 'Sorry, we will fix the problem as soon as possible.', 'r1c0/contact' ) ); ?></p>
		<?php echo $this->partial( 'r1c0-contact-module/index/address' ); ?>
	</div>
</main>
