<?php
	$form = $this->form;
	$isPost = $this->isPost;
	$elementErrors = $this->elementErrors;
	
	$form->setAttribute( 'action', $this->url( 'contact' ) );
	$form->setAttribute( 'class', 'form-horizontal' );
	$form->prepare();
	
	$messageOpenFormat = <<<OPEN
<ul class="list-unstyled">
	<li class="text-danger">
		<small>
			<span class="glyphicon glyphicon-arrow-down"></span>
			<span class="indent"></span>
OPEN;
	
	$messageCloseFormat = <<<CLOSE
		</small>
	</li>
</ul>
CLOSE;
	
	$this->formElementErrors()->setMessageOpenFormat( $messageOpenFormat );
	$this->formElementErrors()->setMessageCloseString( $messageCloseFormat );
	
	// Required elements
	$validation = array();
	
	foreach( array( 'title', 'name', 'email', 'message' ) as $element )
	{
		$validation[$element] = null;
		
		if( $isPost )
		{
			if( !in_array( $element, $elementErrors ) )
			{
				$validation[$element] = sprintf( ' %s', 'has-success' );
			}
			else
			{
				$validation[$element] = sprintf( ' %s', 'has-error' );
			}
		}
	}
	
	$this->formSelect()->setTranslatorTextDomain( 'r1c0/contact' );
	$this->formText()->setTranslatorTextDomain( 'r1c0/contact' );
	$this->formTextArea()->setTranslatorTextDomain( 'r1c0/contact' );
?>
<main>
	<div class="container">
		<h1><?php echo $this->escapeHtml( $this->translate( 'Contact request', 'r1c0/contact' ) ); ?></h1>
		<p><?php echo $this->escapeHtml( $this->translate( 'Here you have the option to leave us a message.', 'r1c0/contact' ) ); ?></p>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
				<?php echo $this->form()->openTag( $form ); ?>
				<div class="form-group<?php echo $validation['title']; ?>">
					<label for="title" class="control-label col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<?php echo $this->escapeHtml( $this->translate( $form->get( 'title' )->getLabel(), 'r1c0/contact' ) ); ?>
						<span class="text-danger">*</span>:
					</label>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<?php echo $this->formElementErrors( $form->get( 'title' ) ); ?>
						<?php echo $this->formSelect( $form->get( 'title' ) ); ?>
					</div>
				</div>
				<div class="form-group<?php echo $validation['name']; ?>">
					<label for="name" class="control-label col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<?php echo $this->escapeHtml( $this->translate( $form->get( 'name' )->getLabel(), 'r1c0/contact' ) ); ?>
						<span class="text-danger">*</span>:
					</label>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<?php echo $this->formElementErrors( $form->get( 'name' ) ); ?>
						<?php echo $this->formText( $form->get( 'name' ) ); ?>
					</div>
				</div>
				<div class="form-group<?php echo $validation['email']; ?>">
					<label for="email" class="control-label col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<?php echo $this->escapeHtml( $this->translate( $form->get( 'email' )->getLabel(), 'r1c0/contact' ) ); ?>
						<span class="text-danger">*</span>:
					</label>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<?php echo $this->formElementErrors( $form->get( 'email' ) ); ?>
						<?php echo $this->formText( $form->get( 'email' ) ); ?>
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="control-label col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<?php echo $this->escapeHtml( $this->translate( $form->get( 'phone' )->getLabel(), 'r1c0/contact' ) ); ?>:
					</label>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<?php echo $this->formText( $form->get( 'phone' ) ); ?>
					</div>
				</div>
				<div class="form-group<?php echo $validation['message']; ?>">
					<label for="message" class="control-label col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<?php echo $this->escapeHtml( $this->translate( $form->get( 'message' )->getLabel(), 'r1c0/contact' ) ); ?>
						<span class="text-danger">*</span>:
					</label>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<?php echo $this->formElementErrors( $form->get( 'message' ) ); ?>
						<?php echo $this->formTextArea( $form->get( 'message' ) ); ?>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<p>
							<span class="label label-default"><?php echo $this->escapeHtml( $this->translate( 'Notice', 'r1c0/contact' ) ); ?></span>
							<?php
								$notice = str_replace(
									'*',
									'<span class="text-danger">*</span>',
									$this->escapeHtml( $this->translate( 'Fields marked with * are mandatory.', 'r1c0/contact' ) )
								);
							?>
							<small><?php echo $notice; ?></small>
						</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<?php echo $this->formHidden( $form->get( 'csrf' ) ); ?>
						<?php echo $this->formButton()->openTag( $form->get( 'send' ) ); ?>
						<span class="glyphicon glyphicon-envelope"></span>
						<?php echo $this->escapeHtml( $this->translate( $form->get( 'send' )->getLabel(), 'r1c0/contact' ) ); ?>
						<?php echo $this->formButton()->closeTag(); ?>
					</div>
				</div>
				<?php echo $this->form()->closeTag(); ?>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
				<?php echo $this->partial( 'r1c0-contact-module/index/address' ); ?>
			</div>
		</div>
	</div>
</main>
