<main>
	<div class="container">
		<h1><?php echo $this->escapeHtml( $this->translate( 'Contact request', 'r1c0/contact' ) ); ?></h1>
		<div class="alert alert-success">
			<p><?php echo $this->escapeHtml( $this->translate( 'Your message has been sent successfully.', 'r1c0/contact' ) ); ?></p>
		</div>
		<p><?php echo $this->escapeHtml( $this->translate( 'We will respond to your message immediately and will contact you shortly.', 'r1c0/contact' ) ); ?></p>
		<?php echo $this->partial( 'r1c0-contact-module/index/address' ); ?>
	</div>
</main>
